<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card shadow" style="width: 100%">
      <div class="card-body">
        <div class="d-flex flex-row align-items-center justify-content-between">
          <h4 class="card-title">
            <b>{{ this.event.Name }}</b>
          </h4>
          <div class="dropdown no-arrow float-right">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <div class="dropdown-header">Options</div>
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                href="main-navbar/edit-event/{{ this.event.EventId }}"
                >Edit</a
              >
              <a
                class="dropdown-item"
                data-toggle="modal"
                data-target="#deleteevent"
                >Delete</a
              >
            </div>
          </div>
        </div>
        <!-- <div class="row">
                    <div class="col-sm-4 col-md-6"> -->

        <div class="d-flex justify-content-center">
          <img
            class="align-middle"
            src="{{ this.event.CoverImage }}"
            style="width: 900px; height: 400px"
          />
        </div>

        <!-- </div> -->
        <!-- <div class="col-sm-8 col-md-6"> -->
        <p class="card-text">
          <br /><b>Location:</b> {{ this.event.Location }}
          <br />
          <b>Time:</b> {{ this.event.Time }}
          <br />
          <b>Description:</b> {{ this.event.Description }}
          <br />
          <b>Date:</b> {{ this.event.Date }}
        </p>
        <a href="" class="btn btn-primary float-right m-1"
          >Share
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-share"
            viewBox="0 0 16 16"
          >
            <path
              d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"
            /></svg
        ></a>
        <a href="" class="btn btn-secondary float-right m-1"
          >Interested
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-star"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
            /></svg
        ></a>
        <a href="" class="btn btn-success float-right m-1"
          >Going
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-right-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
            /></svg
        ></a>
        <a href="" class="btn btn-warning float-right m-1"
          >Email
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-envelope"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"
            /></svg
        ></a>

        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>


  <!-- Delete Modal of Pitch-->
  <div
    class="modal fade"
    id="deleteevent"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Ready to Delete a Event ?
          </h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Delete" below if you are ready to delete Event.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Cancel
          </button>
          <a class="btn btn-primary" (click)="onDeleteEvent()"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>
