/* This is based on the work of Joshua Saunders */

.body_div {
  background-color: #0079bf;
  margin-top: -24px;
}

.board-layout {
  background-color: #0079bf;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: grid;
  grid-template-rows: max-content auto;
  grid-gap: 10px;
  padding: 10px;
  height: max-content;
}

.list-layout {
  display: grid;
  grid-gap: 10px;
}
.board-text {
  font-weight: bold;
  font-size: 23px;
  padding: 5px;
  color: white;
}
.board-lists {
  display: grid;
  grid-auto-columns: 275px;
  grid-auto-flow: column;
  grid-gap: 10px;
  padding: 10px;
  height: max-content;
}

.active {
  background-color: brown;
}

.AddCard {
  display: flex;
  justify-content: left;
  margin-left: 75px;
  position: relative;
}

.test {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  background-color: white;
  border-radius: 3px;
  margin-left: 3px;
}

.test1 {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 3px;
}

.listindex {
  padding: 8px;
}

.ImgLoc {
  display: flex;
  justify-content: flex-end;
}

.ModalDetailCard {
  display: flex;
  justify-content: left;
}

.board-list {
  background-color: #ebecf0;
  border-radius: 3px;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 10px;
  /* Chrome use a fixed height */
  height: max-content;
  padding: 10px;
}

.list-title {
  font-size: 18px;
  font-weight: bold;
  font-weight: 200px;
  color: #172b4d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#dateshape {
  font-size: 12px;
  padding: 5px;
  max-width: 40%;
  border-radius: 7px;
  width: auto;
  background-color: #ff9f1a;
  color: #172b4d;
  margin-top: 15px;
}

.card {
  border-radius: 5px;
  /* box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25); */
  padding: 10px;
  cursor: pointer;
  background-color: #0b2027;
  color: #ebecf0;
  font-weight: 400px;
  /* box-shadow: 0 1px 0 rgb(9 30 66 / 25%); */
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 3px;
}

.card:hover {
  opacity: 0.8;
}

.is-moving {
  transform: rotate(5deg);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
