<!-- <app-main-navbar></app-main-navbar> -->
<router-outlet></router-outlet>
<!-- <app-startup-dashboard></app-startup-dashboard> -->
<!-- <app-startup-details></app-startup-details> -->
<!-- <app-login-form></app-login-form> -->
<!-- <signup-form></signup-form> -->
<!-- <app-support></app-support> -->
<!-- <app-settings></app-settings> -->
<!-- <app-profile-info></app-profile-info> -->
<!-- <app-view-services></app-view-services> -->

<!-- <app-explore-startups></app-explore-startups> -->

<!-- <app-add-new-startup-form></app-add-new-startup-form> -->

<!-- <app-startup-details-overview></app-startup-details-overview> -->
<!-- <app-startup-details-team></app-startup-details-team> -->
<!-- <app-startup-details-projects></app-startup-details-projects> -->
<!-- <app-startup-details-pitch></app-startup-details-pitch> -->

<!-- <app-add-project-info-form></app-add-project-info-form> -->
<!-- <app-add-member-info-form></app-add-member-info-form> -->
<!-- <app-add-pitch-form></app-add-pitch-form> -->