<div class="container">
    <hr />
    <h4>Projects</h4>
    <hr />
    <div class="">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card shadow m-1" style="width:100%;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="d-flex flex-row align-items-center justify-content-between">
                                    <h3><b>@item.Title</b></h3>
                                    <div class="dropdown no-arrow float-right">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Options</div>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="\add-project-info-form">Edit</a>
                                            <a class="dropdown-item" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <b>Funding Required:</b>
                                <p>@item.FundsRequired</p>
                                <br />
                                <b>Description:</b>
                                <p>@item.Description</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>